<section class="sub-contents present">
  <div class="sub-contents-wrapper present-wrapper">
    <p class="present-title">aloerinaのサポーターになる</p>
    <p class="present-description">気に入った記事がありましたらお小遣いをあげて支援してみませんか？ aloerinaの生計を支えるサポーターになることができます！</p>
    <div class="present-qr">
        <img src="/assets/kyash_qr.png">
        <span><a href="https://kyash.co/" target="_blank">またはKyashで id: <b>aloerina</b> に送金する</a></span>
    </div>
    <p class="present-notes">いただいたお小遣いは私利私欲のために使われることがありますので、ご理解の上でご支援いただければと思います。</p>
  <div>
</section>