<section class="sub-contents present">
  <div class="sub-contents-wrapper present-wrapper">
    <h3>BUY ME A COFFEE</h3>
    <p class="present-description">記事執筆時のコーヒーをごちそういただけると励みになります。</p>
    <div class="present-kyash">
        <a class="qr-execute-button" href="kyash://qr/u/7297457164651391829" target="_blank">
          <p class="button-body">
            <img class="icon" src="/assets/coin_icon.png"></i>
            <span class="label">120円ごちそうする</span>
          </p>
        </a>
        <img class="qr-image" src="/assets/kyash_qr.png">
        <span>または<a href="https://kyash.co/" target="_blank">Kyash</a>で id: <b>aloerina</b> に送金する</span>
    </div>
  <div>
</section>