<section class="sub-contents donation">
  <div class="sub-contents-wrapper donation-wrapper">
    <h3>BUY ME A COFFEE</h3>
    <p class="donation-description">記事執筆時のコーヒーをごちそういただけると励みになります。</p>
    <div class="donation-button-area">
        <a class="donation-button" href="https://www.buymeacoffee.com/aloerina" target="_blank">
          <p class="button-body">
            <img class="icon" src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg"></i>
            <span class="label">ごちそうする</span>
          </p>
        </a>
        <span>または<a href="https://kyash.co/" target="_blank">Kyash</a>で id: <b>aloerina</b> に送金する</span>
    </div>
  <div>
</section>