<footer class="sub-contents site-footer-v2">
  <div class="sub-contents-wrapper site-footer-v2-wrapper">
    <div class="footer-v2-main">
      <div class="site-values">
        <a href="{{ site.baseurl }}/" class="site-values-title">{{ site.title }}</a>
        <p class="site-values-anotation">
          <span>since 2016 {{ site.name }} All Rights Reserved.</span><br>
          <span>サイト内のリンクにはアフェリエイトリンクが含まれる場合があります。</span>
        </p>
      </div>
      <div class="site-designs">
        <p>Published on <a target="_blank" href="https://github.com/aloerina01/aloerina01.github.io" rel="noopener noreferrer">GitHub</a></p>
      </div>
    </div>
  </div>
</footer>