<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {% for navigation in site.data.navigations %}
          {% if navigation.title and navigation.url %}
          <li class="nav-link"><a href="{{ navigation.url | prepend: site.baseurl }}">{{ navigation.title }}</a>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="breadcrumbs" style="display:none">
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
  　　　　　　　　　　<li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
    　　　　　　　　<a itemprop="item" href="https://aloerina01.github.io/">
        　　<span itemprop="name">mille-feuille code</span>
        </a>
    　　　　　　　　<meta itemprop="position" content="1" />
  　　　　　　　　　　</li>
　　　　　　　　　　  <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
   　　　　　　 <a itemprop="item" href="https://aloerina01.github.io/archives/">
      　　　　<span itemprop="name">記事</span>
       </a>
    　　　　　　<meta itemprop="position" content="2" />
  　　　　　　　　</li>
　　　　　　　　  <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
    　　　　　　<a itemprop="item" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      　　　　<span itemprop="name">{{ page.title }}</span>
      　　</a>
    　　　　　　<meta itemprop="position" content="3" />
  　　　　　　　　</li>
　　　　　　　　　　</ol>
    </div>
  </div>
</header>
