<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.outline %}{{ page.outline | strip_html | strip_newlines | truncate: 160}}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if site.name %}
  <meta name="author" content="{{ site.name }}">
  <meta name="copyright" content="&copy; {{ site.name }} {{ site.time | date: '%Y' }}">
  {% endif %}
  <link rel="manifest" href="/manifest.json">
  <!-- External libraries -->
  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.12/css/brands.css" integrity="sha384-Pln/erVatVEIIVh7sfyudOXs5oajCSHg7l5e2Me02e3TklmDuKEhQ8resTIwyI+w" crossorigin="anonymous">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.12/css/solid.css" integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI" crossorigin="anonymous">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.12/css/fontawesome.css" integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/prism.css">
  
  <!-- Favicon and other icons (made with http://www.favicon-generator.org/) -->
  <link rel="shortcut icon" href="{{ "/assets/icons/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="icon" href="{{ "/assets/icons/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="109x109" href="{{ "/assets/icons/favicon 1ldpi.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="146x146" href="{{ "/assets/icons/favicon 1mdpi.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="218x218" href="{{ "/assets/icons/favicon 1hdpi.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="290x290" href="{{ "/assets/icons/favicon 1xhdpi.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="435x435" href="{{ "/assets/icons/favicon 1xxhdpi.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="580x580" href="{{ "/assets/icons/favicon 1xxxhdpi.png" | prepend: site.baseurl }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ "/assets/icons/favicon 1mdpi.png" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#546E7A">
  <meta name="apple-mobile-web-app-title" content="mf-code">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  {% if site.protocols.fb_image %}
  <!-- Facebook OGP cards -->
  <meta property="og:description" content="{% if page.outline %}{{ page.outline | strip_html | strip_newlines | truncate: 160}}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:url" content="{% if page.canonical  %}{{ page.canonical | prepend: site.url }}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{% if page.ogimage %}{{ page.ogimage | prepend: site.baseurl | prepend: site.url }}{% elsif page.cover %}{{ page.cover | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.protocols.fb_image | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
  <meta property="og:image:type" content="{{ site.protocols.fb_image_type }}" />
  <meta property="og:image:width" content="{{ site.protocols.fb_image_width }}" />
  <meta property="og:image:height" content="{{ site.protocols.fb_image_height }}" />
  {% endif %}

  {% if site.protocols.twitter_image %}
  <!-- Twitter: card tags -->
  <meta name="twitter:card" content="{% if page.ogimage or page.cover %}summary_large_image{% else %}summary{% endif %}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.outline %}{{ page.outline | strip_html | strip_newlines | truncate: 160}}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{% if page.ogimage %}{{ page.ogimage | prepend: site.baseurl | prepend: site.url }}{% elsif page.cover %}{{ page.cover | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.protocols.twitter_image | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta name="twitter:url" content="{% if page.canonical  %}{{ page.canonical | prepend: site.url }}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  {% endif %}

  {% if protocols.os_repo and protocols.os_rcs_type and protocols.os_src %}
  <!-- Open Source Protocol -->
  <link rel="profile" href="http://osprotocol.com" />
  <meta property="os:repo" content="{{ protocols.os_repo }}" />
  <meta property="os:rcs_type" content="{{ protocols.os_rcs_type }}" />
  <meta property="os:src" content="{{ protocols.os_src }}" />
  {% endif %}

  <!-- Site styles -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{% if page.canonical  %}{{ page.canonical | prepend: site.url }}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script src="/dist/prism.js" defer></script>
  <script src="/dist/drift.js" defer></script>
</head>
