<div class="post-donation">
  <div class="post-donation-panel">
    <p class="post-donation-description for-pc">
      <span>この記事が気に入ったらaloerinaをサポートしてみませんか？<br />コーヒー1杯からお気軽にサポートできます。</span>
    </p>
    <p class="post-donation-description for-mobile">
      <span>この記事が気に入ったら<br />aloerinaをサポートしてみませんか？</span>
    </p>
    <a class="donation-button" href="https://www.buymeacoffee.com/aloerina" target="_blank" rel="noopener noreferrer" onClick="ga('send', 'event', 'click_buymeacoffee', 'post')">
      <p class="button-body">
        <img class="icon" src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg"></i>
        <span class="label">サポートする</span>
      </p>
    </a>
  </div>
</div>