<section class="post-donation">
  <div class="post-donation-panel">
    <span class="post-donation-description">
      執筆時のコーヒーで応援する
    </span>
    <a class="donation-button" href="https://www.amazon.jp/hz/wishlist/ls/2B61O6E56WG47?ref_=wl_share" target="_blank" rel="noopener noreferrer" onClick="ga('send', 'event', 'click_buymeacoffee', 'post')">
      <p class="button-body">
        <img class="icon" alt="buymeacoffee" src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg"></img>
        <span class="label">欲しいものリストから贈る</span>
      </p>
    </a>
  </div>
</section>