<section class="sub-contents present">
  <div class="sub-contents-wrapper present-wrapper">
    <p class="present-title">aloerinaのサポーターになる</p>
    <p class="present-description">記事の中の一部でも、あなたの助けになれば幸いです。</p>
    <div class="present-qr"><img src="/assets/kyash_qr.png"></div>
    <p class="present-notes">いただいた寄付金は私利私欲のために使われることがありますので、ご理解の上でご支援いただければと思います。なお、いただいたご支援の使い道は極力Twitterで公開致します。</p>
    <p class="present-poweredby">Powered by <a href="https://kyash.co/" target="_blank">Kyash</a></p>
  <div>
</section>