<section class="sub-contents profile-bar">
  <div class="sub-contents-wrapper profile-bar-wrapper">
    <div class="sub-contents-title">
      <h3>Profile</h3>
      <hr>
    </div>
    <div class="sub-contents-main profile-bar-main">
      <div class="profile-image">
        <img src="/assets/profile.jpg" alt="" loading="lazy">
      </div>
      <div class="profile-content">
        <div class="profile-content-name">aloerina</div>
        <div class="profile-content-description">
          <p><span>Web developer</span></p>
          <p>
            <span>Webアプリの開発、エンジニアリングマネジメント、スクラムマスターなどをしています。</span>
          </p>
        </div>
        <div class="profile-content-sns">
          <a target="_blank" href="https://twitter.com/aloerina_" rel="noopener noreferrer" class="sns-icon">
              <i class="fab fa-twitter"></i>
          </a>
          <a target="_blank" href="{{ site.contact_url }}" rel="noopener noreferrer" class="sns-icon sns-icon-envelope">
              <i class="fas fa-envelope"></i>
          </a>
          {% if false %}
          <a class="sns-icon sns-icon-slack">
              <i class="fab fa-slack-hash"></i>
          </a>
          {% endif %}
          <a target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}" rel="noopener noreferrer" class="sns-icon">
              <i class="fas fa-rss"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>