<script>
  window.addEventListener('DOMContentLoaded', function() {
    // Header
    var CLASS_MENU_SHOW = 'show';
    var navigationMenu = document.getElementById('js-navigation-menu');
    var menuIcon = document.getElementById('js-mobile-menu-icon');
    menuIcon.addEventListener('click', function(e) {
      e.preventDefault();
      navigationMenu.classList.toggle(CLASS_MENU_SHOW);
    });
  });
  </script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/algoliasearch/3.30.0/algoliasearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autocomplete.js/0.38.0/autocomplete.min.js"></script>
<script src="/dist/algolia.js" async></script>