.share-button {
  &.share-button-twitter {
    color: $color-twitter;
  }
  &.share-button-facebook {
    color: $color-facebook;
  }
  &.share-button-google {
    color: $color-google;
  }
  &.share-button-pocket {
    color: $color-pocket;
  }
}
