.share-button {
  transition: all 0.4s ease;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #bbb;
  &:hover {
    opacity: .7;
  }
  &.share-button-twitter {
    color: #fff;
    background-color: $color-twitter;
  }
  &.share-button-facebook {
    color: #fff;
    background-color: $color-facebook;
  }
  &.share-button-google {
    color: #fff;
    backgrond-color: $color-google;
  }
  &.share-button-pocket {
    color: #fff;
    background-color: $color-pocket;
  }
  &.share-button-line {
    width: auto;
    padding: 2px 0 0 4px;
    img {
      border-radius: 50%;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 38px;
      height: 38px;
      line-height: 2rem;
      box-sizing: content-box;
    }
  }

}
