.share-button {
  transition: all 0.4s ease;
  &:hover {
    opacity: .7;
  }
  &.share-button-twitter {
    color: $color-twitter;
  }
  &.share-button-facebook {
    color: $color-facebook;
  }
  &.share-button-google {
    color: $color-google;
  }
  &.share-button-pocket {
    color: $color-pocket;
  }
  &.share-button-line {
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }
}
